/* You can add global styles to this file, and also import other style files */

h1 {
  text-align: center;
}
 .table-container {
      display: inline-block;
    }


    .tables-container {
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 60%;
      margin: 10px;
    }
  th, td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    cursor: pointer;
  }

  td.clicked {
    background-color: lightslategray; /* Change the color as needed */
  }
  